# Default ignored files
/shelf/
/workspace.xml

py/myenv
.idea
.idea/
static_analysis/res/jimple_output
static_analysis/res/output
static_analysis/build
static_analysis/.gradle
static_analysis/sootOutput 
py/apk_downloader/apks_new
node_modules
xapk_extract
py/Dynamic/log
py/Dynamic/test
package-lock.json
download.log
downloaded_pkg.txt
last_stop_time.txt
timed_task_log.log
uploaded_apks.txt
uploaded_failed.txt
downloaded_pkg3.txt
**/.idea
**/package-lock.json
**/.idea/
test_data
fastbot_log
__pycache__
.chainlit
extracted_xapk
res
