# Default ignored files
/shelf/
/workspace.xml

py/myenv
py/.idea
static_analysis/res/jimple_output
static_analysis/res/output
static_analysis/build
static_analysis/.gradle
static_analysis/sootOutput 
py/apk_downloader/apks_new

