{
    "title": "The Elder Scrolls: Blades",
    "description": "From Bethesda Game Studios, the award-winning creators of Skyrim, comes The Elder Scrolls: Blades \u2013 a classic dungeon crawler reimagined.\r\n\r\nThe Blades, the Empire\u2019s top agents, are forced into exile. On the run, you return to your hometown to find it destroyed. \r\n\r\n\r\n\r\nKEY FEATURES: \r\n\r\nQUEST and Experience stunning dungeon adventures.\r\n\r\nCREATE and customize your city, restoring it to greatness. \r\n\r\nCONQUER your friends and rivals in epic one-on-one Arena battles.\r\n\r\nCREATE any character you want and discover unique weapons, armor, and abilities. \r\n\r\nMASTER the never-ending Abyss with a cutting-edge combat system.",
    "descriptionHTML": "From Bethesda Game Studios, the award-winning creators of Skyrim, comes The Elder Scrolls: Blades \u2013 a classic dungeon crawler reimagined.<br><br>The Blades, the Empire\u2019s top agents, are forced into exile. On the run, you return to your hometown to find it destroyed. <br><br><br><br>KEY FEATURES: <br><br>QUEST and Experience stunning dungeon adventures.<br><br>CREATE and customize your city, restoring it to greatness. <br><br>CONQUER your friends and rivals in epic one-on-one Arena battles.<br><br>CREATE any character you want and discover unique weapons, armor, and abilities. <br><br>MASTER the never-ending Abyss with a cutting-edge combat system.",
    "summary": "From Bethesda Game Studios \u2014 a classic dungeon crawler reimagined.",
    "installs": "5,000,000+",
    "minInstalls": 5000000,
    "realInstalls": 6679790,
    "score": 4.2901134,
    "ratings": 135449,
    "reviews": 17278,
    "histogram": [
        10425,
        4460,
        8048,
        24951,
        87551
    ],
    "price": 0,
    "free": true,
    "currency": "USD",
    "sale": false,
    "saleTime": null,
    "originalPrice": null,
    "saleText": null,
    "offersIAP": true,
    "inAppProductPrice": "$1.99 - $99.99 per item",
    "developer": "Bethesda Softworks LLC",
    "developerId": "Bethesda+Softworks+LLC",
    "developerEmail": "help@bethsoft.com",
    "developerWebsite": "https://bethesdagamestudios.com/",
    "developerAddress": "Bethesda Softworks LLC\n1370 Piccard Drive, Suite 120\nRockville, MD 28050",
    "privacyPolicy": "https://bethesda.net/document/privacy-policy",
    "genre": "Role Playing",
    "genreId": "GAME_ROLE_PLAYING",
    "categories": [
        {
            "name": "Role Playing",
            "id": "GAME_ROLE_PLAYING"
        },
        {
            "name": "Action Role-Playing",
            "id": null
        },
        {
            "name": "Single player",
            "id": null
        },
        {
            "name": "Stylized",
            "id": null
        },
        {
            "name": "Battling",
            "id": null
        },
        {
            "name": "Fantasy",
            "id": null
        }
    ],
    "icon": "https://play-lh.googleusercontent.com/nuOpFrP5kG-Raf3wcD2LXcvnRJiRS2PQoqNKuXUfwPPHSld8vqOcuAfjRxFfUPZihU0",
    "headerImage": "https://play-lh.googleusercontent.com/koFjefLd5BxwP0f_JsS5ucBk86J6qKVLLUnV0C2wTJXcvOQVC_RG3LPwOqjiSy4EFw",
    "screenshots": [
        "https://play-lh.googleusercontent.com/r8Sc4ZI3bW-Oo3DfjeRo98QG3rlUfo65yWNJxST_N5vBbt4_SkkQh2zq7FpK8iorEwg",
        "https://play-lh.googleusercontent.com/vvQ7XAVglBTSk0qtVfshILiFL6PwTkkzOeLFY4OfF2qdSJMYodqT2BnHWpSWHQXTEig",
        "https://play-lh.googleusercontent.com/2LwK-FuxRWlI44AVV_Z3Mbav-p26MCBSh-RO3-nN8o0Z0nGh5Cu_QKjofsmfhEkfxWA",
        "https://play-lh.googleusercontent.com/BGT1xx_KrhD3hmPkjFwacEIlbr31ske4xZPZcr9ZRi2IEVOmJIOmLsdl8sa2yEd0aw",
        "https://play-lh.googleusercontent.com/p1JPHRvHlmvdlgZDxwU1efAXGcz1D1ceankwDe1wLssq1DYd5LJuDe08TvS_UcP2tA",
        "https://play-lh.googleusercontent.com/OvzqjXSnHSFkXFCAJE2YZLj0eYXQ0MLnjyHjYP8F8KiqjgJn0yirlUJJgMNPHz06a--i",
        "https://play-lh.googleusercontent.com/0OYjpJu9ZLCbrNeQFhFez_G4Kdq4fymknEt4P36VWlumh0pBJg9XooG3Gdrk6JMYVtQ",
        "https://play-lh.googleusercontent.com/BumEPQJSpgiToamGr3TA82d404ZEj_N9qxdQKTOAJqQpnOOz5AVKELxz_3Uxeoggq9KD",
        "https://play-lh.googleusercontent.com/ZQnzuL0aC2Nza6M-BnrvBfn5bGE0vHNhujHIQyLVD-yBT34AvQjgA_juviVJuy98AQ",
        "https://play-lh.googleusercontent.com/bX1Yyr6E4ZwhuRQE5PlcXJHyq43-i-B4sBycZZuTQJVLAO3UDuZ6tOQzltV4U9oiEok"
    ],
    "video": "https://www.youtube.com/embed/jlz5tpjM6nA?ps=play&vq=large&rel=0&autohide=1&showinfo=0",
    "videoImage": "https://play-lh.googleusercontent.com/koFjefLd5BxwP0f_JsS5ucBk86J6qKVLLUnV0C2wTJXcvOQVC_RG3LPwOqjiSy4EFw",
    "contentRating": "Teen",
    "contentRatingDescription": "Violence, Blood",
    "adSupported": false,
    "containsAds": false,
    "released": "May 1, 2019",
    "lastUpdatedOn": "Mar 7, 2023",
    "updated": 1678212203,
    "version": "1.31.0.3481802",
    "comments": [],
    "appId": "com.bethsoft.blade",
    "url": "https://play.google.com/store/apps/details?id=com.bethsoft.blade&hl=en&gl=us"
}