{
    "title": "Mega Rampa Car Stunt Master",
    "description": "Mega Rampa car stunts on 3d sky high tracks choose your car through garage and ready for the car stunts on mid air tracks. Try to reach the finish line within the time and complete the level to earn game reward to unlock the other cars and levels.",
    "descriptionHTML": "Mega Rampa car stunts on 3d sky high tracks choose your car through garage and ready for the car stunts on mid air tracks. Try to reach the finish line within the time and complete the level to earn game reward to unlock the other cars and levels.",
    "summary": "3d tracks with car driving physics and stunning stunts",
    "installs": "1,000,000+",
    "minInstalls": 1000000,
    "realInstalls": 2495598,
    "score": 3.6842105,
    "ratings": 506,
    "reviews": 3,
    "histogram": [
        106,
        26,
        79,
        0,
        292
    ],
    "price": 0,
    "free": true,
    "currency": "USD",
    "sale": false,
    "saleTime": null,
    "originalPrice": null,
    "saleText": null,
    "offersIAP": true,
    "inAppProductPrice": "$4.99 - $69.99 per item",
    "developer": "Play Strong",
    "developerId": "6859275845585325228",
    "developerEmail": "feedbackplaystrong@gmail.com",
    "developerWebsite": "http://playstronggames.com",
    "developerAddress": "Unit 5, 3rd Floor 44 D 1 , Gulberg 3, Lahore",
    "privacyPolicy": "https://playstrong123.blogspot.com/2022/01/privacy-policy.html",
    "genre": "Racing",
    "genreId": "GAME_RACING",
    "categories": [
        {
            "name": "Racing",
            "id": "GAME_RACING"
        },
        {
            "name": "Car race",
            "id": null
        }
    ],
    "icon": "https://play-lh.googleusercontent.com/VDlu8otmtDLeuRSZSm8JiigFdnyc8WQquTgVT3yC4aTS_tI5eHHiz7nMpzfO8yMueOQ",
    "headerImage": "https://play-lh.googleusercontent.com/lfp0gkdjz44zs0WyMsL8e7MwmafhEjScpL4Os7tkajxckqmKIrBSArwq3H33FXacRA",
    "screenshots": [
        "https://play-lh.googleusercontent.com/nHjjyrB1QoPhRXAVcEoQ30BW3LXNa25CQHn99olhFxUsYmoVvFpSY807bhi-B2CZmIg",
        "https://play-lh.googleusercontent.com/Uxv3D6yCFHzJi5EbWf790B8tGCHfSAD2yIhRUsSduu-AmkU9HURByFETrDimIG5OZo1v",
        "https://play-lh.googleusercontent.com/wiI5CirgWam61657-uXUTimMnIzJcytPTiAByUlNgjbwpvwVfz1C1iwCurCsKET5v0w",
        "https://play-lh.googleusercontent.com/XOPEphPQW_vOD-tOu6GpdaZ9svRK4PAf90mKY9ri5pBx5E8KxmaB2EB0xXYPXWwnpg",
        "https://play-lh.googleusercontent.com/fvDCVA0WaLYqtPJ4gXiGhuhcT4blVYghsfBdsFuVCcBiDMs0FKlWWrmS6jWbhzpyvG8",
        "https://play-lh.googleusercontent.com/OTm_ibl-iiIR_HYvS-9F4d4hmXF0NTz62k-6P6otCntQjGSM7imcJ42a-lKW_foWzTY",
        "https://play-lh.googleusercontent.com/kN8XqfSfdHExtrAD3pUMyZ118xZkOUWFUS29q_RFz_XFTLEUZ9T3YUOYQ88JXBHfTNMC",
        "https://play-lh.googleusercontent.com/HWIQvI1ZOfZsukfURDkRxR3gducs1mx1FvaEGKdezxSTurYicqUFD9b6bc_0u8X3Rw",
        "https://play-lh.googleusercontent.com/UshSzbLw2o2saeIr-q52rDtuYnJtvGhTpi8_tnnr4BFV2GVG24eia_4lPs9yhXrjV7Du",
        "https://play-lh.googleusercontent.com/Fbzdt5ljaZ3HvAS9RiaoxZ84Qji3kB7XcgjCh92DstxthZUUyew3U_dUa5_pzh0F8X08",
        "https://play-lh.googleusercontent.com/vjkEV3XWQij98_3n6PiMUxR8X6WuZBpIGHiQuk6UdgMCQwCuWbbnbqcX0bcR6s8tE9U",
        "https://play-lh.googleusercontent.com/M_ikrFAOGmGVdGLgL826gU3AiXH1SLrRzf8Pr8D_s6yT-V4og_lo446hlQKVXsdrXg",
        "https://play-lh.googleusercontent.com/zdm5JroJss48EuhZpGTpVhaAU88IWTjdDOXPfjU0ukSAkhOQmHsCJMo0mWOj7CNX-jd2",
        "https://play-lh.googleusercontent.com/UrciZ6dcNvNeBVbtmcvup0dmqRHnsWxLQAU5FFZIt-8DVp1_mRT1GLGCT3dctvtZxg",
        "https://play-lh.googleusercontent.com/jSJuG32qWRbMQCiZxS02drZgAIhaq-lGAxgKAdxEk6vAB80EkWAotvUD6yhRVGHTHTd8"
    ],
    "video": null,
    "videoImage": null,
    "contentRating": "Teen",
    "contentRatingDescription": "Mild Violence",
    "adSupported": true,
    "containsAds": true,
    "released": "Dec 2, 2022",
    "lastUpdatedOn": "Aug 27, 2024",
    "updated": 1724778321,
    "version": "2.1.3",
    "comments": [],
    "appId": "com.car.crash.car.stunt.master",
    "url": "https://play.google.com/store/apps/details?id=com.car.crash.car.stunt.master&hl=en&gl=us"
}