{
    "title": "TTcoin Network - 2024",
    "description": "TC is a digital currency. This app allows you to store and grow your TCs. Join the TC community now and get a wallet. Access the TSC Network with remote systems.\r\n\r\nDo Crypto Mining. Mine TTcoin, the cryptocurrency of the future. Join over 10,000,000 million miners.\r\n\r\nWithdraw your earnings to the exchange and wallet of your choice.\r\n\r\nTTcoin is the world's leading cryptocurrency with its own blockchain. It is one of the active community projects.",
    "descriptionHTML": "TC is a digital currency. This app allows you to store and grow your TCs. Join the TC community now and get a wallet. Access the TSC Network with remote systems.<br><br>Do Crypto Mining. Mine TTcoin, the cryptocurrency of the future. Join over 10,000,000 million miners.<br><br>Withdraw your earnings to the exchange and wallet of your choice.<br><br>TTcoin is the world&#39;s leading cryptocurrency with its own blockchain. It is one of the active community projects.",
    "summary": "Earn cryptocurrency now and join TSC network",
    "installs": "5,000,000+",
    "minInstalls": 5000000,
    "realInstalls": 9324651,
    "score": 4.45,
    "ratings": 32513,
    "reviews": 108,
    "histogram": [
        2919,
        530,
        1194,
        1592,
        26010
    ],
    "price": 0,
    "free": true,
    "currency": "USD",
    "sale": false,
    "saleTime": null,
    "originalPrice": null,
    "saleText": null,
    "offersIAP": false,
    "inAppProductPrice": null,
    "developer": "TTcoin Games And Application",
    "developerId": "8807581798284110776",
    "developerEmail": "support@ttcoin.info",
    "developerWebsite": "https://ttcoin.info",
    "developerAddress": "Seyran Mahallesi Adli T\u0131p Caddesi, Ye\u015filtepe Cd. No: 73/C, 44100 Ye\u015filyurt/Malatya T\u00fcrkiye",
    "privacyPolicy": "https://sites.google.com/view/ttcoin-tc/en",
    "genre": "Educational",
    "genreId": "GAME_EDUCATIONAL",
    "categories": [
        {
            "name": "Educational",
            "id": "GAME_EDUCATIONAL"
        }
    ],
    "icon": "https://play-lh.googleusercontent.com/OLkT0e-p-BbejdiP4nTP8mXOkFhXAS7RH6v3ptjvsjc3vHDeTCAfT0MC2JJsf-lacIw",
    "headerImage": "https://play-lh.googleusercontent.com/kFHGN5Nw2XQ5OrFIwpEcemLb2NHxs30E6DazwT3ERk46PbCfpb7AYxL-YL1-VjyTqbU",
    "screenshots": [
        "https://play-lh.googleusercontent.com/MXRrCxvs9EZlH9iar57Eb2VhlyOv9JMHdxD8_39uKMDtUXil5zCiBdk7tVysEAjzsHA",
        "https://play-lh.googleusercontent.com/Fe8OeXEOn7No9MhYob1UDnwUDQl8NybH03xrSRadNgMtd7Pn2vfzv5kfC6PST3lQnqE",
        "https://play-lh.googleusercontent.com/ePgd7DJo8TZTHAz01wofURmjfShpK3q4bsWP3MupSsvoyn3Qf10n98pzVJ7jSqENyw",
        "https://play-lh.googleusercontent.com/cDqtUnmWQ87OAJv4twwopSqh5EB4qgL0agNxA_0TtNRzmk-KCoKniAbSX_ErmnighqY",
        "https://play-lh.googleusercontent.com/1Tq_lnfFjyR5j6d1l_uUDvEhuykx-RE9q89WxvdOW3-I_BdsuSIiS4duJ_rtkCK8n6M"
    ],
    "video": "https://www.youtube.com/embed/VLaQcpp9Mkc?ps=play&vq=large&rel=0&autohide=1&showinfo=0",
    "videoImage": "https://play-lh.googleusercontent.com/kFHGN5Nw2XQ5OrFIwpEcemLb2NHxs30E6DazwT3ERk46PbCfpb7AYxL-YL1-VjyTqbU",
    "contentRating": "Everyone",
    "contentRatingDescription": null,
    "adSupported": true,
    "containsAds": true,
    "released": "Mar 6, 2024",
    "lastUpdatedOn": "Oct 2, 2024",
    "updated": 1727890193,
    "version": "9.0.9",
    "comments": [],
    "appId": "com.ttcoin.network",
    "url": "https://play.google.com/store/apps/details?id=com.ttcoin.network&hl=en&gl=us"
}